@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
body{
font-family: 'Open Sans', sans-serif;
font-size: 16px;
line-height: 24px;
color: #4c5256;
counter-reset: my-sec-counter;
}
p{
font-family: 'Open Sans', sans-serif; 
font-size: 16px;
}
/***** Common Css ****/
.bg-blue{ background-color: #01305e;}
.bg-gray{ background-color: #f5f5f5;}
.padding-py-5{padding-top:5%; padding-bottom:5%; }
.text-green{color: #55be92;}
section.increment h5:before{
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter) ;
	color: #55be92;
    margin-right: 15px;
	font-size:28px;
}
}
pre {
    margin-bottom: 0;
}
.sub-title {
	font-size:18px;
	font-weight:600;
	color:#000;
}
.right-title-bar {
	font-weight:bold;
}
.color-gray{ color: #797979;}
.acco {
	background-color: #f9f9f9;
}


button.btn[aria-expanded="true"] .fa-angle-down::before  { 
    content: "\f106";
}

ul.link-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding-left: 1em; 
  text-indent: -.7em;
}
li::before {
  content: "• ";
  color: #5cae69;
  font-size: 20px;
  font-weight: 700;
}
.mail-icon {
 border-radius: 50%;
 border: 1px solid #333;
 padding: 12px;
 background-color: #e1e1e1;
 margin-right: 10px;
 font-size: 20px;
}

.phone-icon {
 border-radius: 50%;
 border: 1px solid #333;
 padding: 12px;
 background-color: #e1e1e1;
 margin-right: 10px;
 font-size: 20px;
}
.comment-icon {
 border-radius: 50%;
 border: 1px solid #333;
 padding: 12px;
 background-color: #e1e1e1;
 margin-right: 10px;
 font-size: 20px;
}
/*
.printbtn {
 width: 25%;
 padding: 10px;
 color: gray;
}
.webbtn {
 width: 25%;
 padding:10px;
 background-color: #3c6ab1;
 color:#fff;
}
*/
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}.fa-angle-down:before {
    content: "\f107";
    top: 5px;
    margin-top: 4px;
    position: relative;
}

@media only screen and (max-width:768px){
	/* .container.bg-white.p-4.cblock {
    padding: 0px !important;
} */
.Einleitung h1.p-4.mb-4, .Einleitung h3 {
    padding: 0px !important;
}
.cblock button{float:left; margin-top:5px;}
}


